<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Gruppenname</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<ul>
	<li><a href= "nutzerDerGruppeHinzufuegen">Neuen Nutzer hinzufügen</a></li>
	<li><a href= "offeneBeitrittsanfragen">offene Beitrittsanfragen</a></li>
	<li><a href= "testErstellen">Neuen Test erstellen</a></li>
	<li><a href= "testAbsolvieren">Test absolvieren</a></li>
	<li><a href= "diskussionenAnzeigen">bisherige Diskussionen</a></li>
	</ul>
			
<form>
		<table>
			<tr>
				<td>neue Diskussion erstellen:</td>
				<td><input type="text" name="txtNeueDiskussion" /></td>
			</tr>
			</table></form>
	<a href= "diskussionErstellen">neue Diskussionen erstellen</a>
			
</body>
</html>