<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Gruppenname</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<ul>
		
				<li><form action="#" th:action="@{/nutzerDerGruppeHinzufuegen}" method="post">
		<p>Neuen Nutzer	hinzufügen <input type="text"
				name="nutzerDerGruppeHinzufuegen" /></p>
		<p><input type="submit" value="Neuen Nutzer hinzufügen" /></p>
	</form></li>
		<li><a href="offeneBeitrittsanfragen">offene
				Beitrittsanfragen</a></li>
		<li><a href="testErstellen">Neuen Test erstellen</a></li>
		<li><a href="testAbsolvieren">Test absolvieren</a></li>
	</ul>


	<form action="#" th:action="@{/diskussionErstellen}" method="post">
		<p>neue Diskussion erstellen: <input type="text"
				name="titleOfDiscussion" /></p>
		<p><input type="submit" value="Diskussion erstellen" /></p>
	</form>
	
	<p>bisherige Diskussionen: </p>
	
	<div id="Diskussionscontainer">
			<table>
					<c:forEach items="${diskussion}" var="aktuelleDiskussion">
						<tr>
							<!-- hier müssen die gruppenposts rein mit kommentaren -->
							
						</tr>
					</c:forEach>
			</table>
		</div>

</body>
</html>
