<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Neue Gruppe anlegen</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
Neue Gruppe anlegen:



			
			
			<form action="#" th:action="@{/gruppeAnlegenImProfil}" method="post">
		
			<p>Gruppenname: <input type="text" name="gruppenname" /></p>			
			<p>Lernfach: <input type="text" name="lernfach" /></p>
			<p>Themengebiet: <input type="text" name="themengebiet" /></p>
			<p>Beschreibung: <input type="text" name="beschreibung" /></p>
			<p><input type="submit" value="Gruppe anlegen"/></p>
			</form>
			
		
			
			

</body>
</html>