<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Neue Gruppe anlegen</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
Neue Gruppe anlegen:

<form>
		<table>
			<tr>
				<td>Gruppenname</td>
				<td><input type="text" name="txtGruppenname" /></td>
			</tr>
			<tr>
				<td>Lernfach</td>
				<td><input type="text" name="txtLernfach" /></td>
			</tr>
			<tr>
				<td>Themengebiet</td>
				<td><input type="text" name="txtThemengebiet" /></td>
			</tr>
			<tr>
				<td>Beschreibung</td>
				<td><input type="text" name="txtBeschreibung" /></td>
			</tr>
		
			</table>
			</form>

			<button type="button" id="gruppeAnlegen">Gruppe anlegen</button>
			

</body>
</html>