<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mein Profil</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
Willkommen, Name!
hier vllt infos zb interessen, mail, bday?
<br />
Ihre Funktionen:
<br />
<br />

<ul>
	<li><a href= "gruppeAnlegenImProfil">Neue Gruppe anlegen</a></li>
	<li><a href= "suche">Suche nach Gruppen oder Personen</a></li>
	<li><a href= "posten">Neuen Beitrag posten</a></li>
	<li><a href= "profilBearbeiten">Mein Profil bearbeiten</a></li>
	<li><a href= "leaderboard">Leaderboard anzeigen</a></li>
	<li><a href= "meineGruppen">Meine Gruppen</a></li>
	<li><a href= "meineFreunde">Meine Freunde</a></li>
	
	</ul>
<br/>

<div id="Gruppencontainer">
Meine Gruppen:
			<table>
					<c:forEach items="${groups}" var="aktuelleGruppe">
						<tr>
							<td><a href="/gruppenwahl/${aktuelleGruppe.name}" ></a>${aktuelleGruppe.name}</td>
						</tr>
					</c:forEach>
			</table>
		</div>

<div id="Profilcontainer">
Meine Pinwand:
			<table>
					<c:forEach items="${posts}" var="aktuellerPost">
						<tr>
							<td>${aktuellerPost.name}</td>
						</tr>
					</c:forEach>
			</table>
		</div>
</body>
</html>