<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mein Profil</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
Willkommen, Name!
hier vllt infos zb interessen, mail, bday?
<br />
Ihre Funktionen:
<br />
<br />

<ul>
	<li><a href= "gruppeAnlegenImProfil">Neue Gruppe anlegen</a></li>
	<li><a href= "suche">Suche nach Gruppen oder Personen</a></li>
	<li><a href= "posten">Neuen Beitrag posten</a></li>
	<li><a href= "profilBearbeiten">Mein Profil bearbeiten</a></li>
	<li><a href= "leaderboard">Leaderboard anzeigen</a></li>
	<li><a href= "meineGruppen">Meine Gruppen</a></li>
	<li><a href= "meineFreunde">Meine Freunde</a></li>
	
	</ul>
<br/>

<div id="Gruppencontainer">
Meine Gruppen:
			<table>
						<tr th:each="aktuelleGruppe : ${groups}">
							<td th:text="${aktuelleGruppe.name}">test</td>
						</tr>
			</table>
		</div>

<div id="Profilcontainer">
Meine Pinwand:
			<table>
					<tr th:each="aktuellerPost : ${posts}">
							<td th:text="${aktuellerPost.content}"></td>
						</tr>
			</table>
		</div>
</body>
</html>