<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Willkommen bei Watchit</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
Suche nach Personen oder Gruppen:

	
	
	<form action="#" th:action="@{/suche}" method="post">
		<p>Bitte geben Sie hier Ihren Suchbegriff ein: <input type="text"
				name="txtSuche" /></p>
		<p><input type="submit" value="Suche starten" /></p>
	</form>
	
	<div id="Gruppencontainer">
Gefundene Gruppen:
			<table>
						<tr th:each="aktuelleGruppe : ${groups}">
							<td th:text="${aktuelleGruppe.name}"></td>
					<!--bessere möglichkeit?		<td><a href="/gruppenwahl/${aktuelleGruppe.name}" >wählen</a></td> -->
						</tr>
			</table>
		</div>

<div id="Profilcontainer">
Gefundene Nutzer:
			<table>
					<tr th:each="aktuellerUser : ${users}">
							<td th:text="${aktuellerUser.username}"></td>
						</tr>
			</table>
		</div>
</body>
</html>